/* Top Menu Container */
.Menu-Container {
    background-color: var(--bg-D9D9D96B);
    border-radius: 20px;
    margin: 5px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1020; /* Ensures it stays on top of other content */
}

/* Top Menu Card */
.TopMenu-card {
    border-radius: 20px;
    width: 160px;
    height: 100px;
    margin: 5px 5px;
}

/* Icon Sizes */
.icon-TopBar {
    width: 74px;
    height: 82px;
}

.home-topBar {
    width: 91px;
    height: 76px;
}

/* Container for the entire mobile view */
.mobile-view {
    margin: 5px;
    height: 957px;
    width: 404px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    position: fixed;
}

/* Sticky header */
.header {
    flex-shrink: 0;
    width: 100%;
    position: sticky;
    top: 140px; /* Adjust this to ensure it's below the top menu */
    z-index: 1010;
    background-color: inherit;
    border-radius: 20px;
}

/* Scrollable body */
.body-content {
    overflow-y: auto;
    flex-grow: 1;
}

/* Sticky footer */
.footer {
    flex-shrink: 0;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 1020;
    background-color: #D9D9D9;
    border-radius: 20px;
}

/* hr tag */
hr.dotted {
    border: none;
    border-top: 3px dotted white;
    margin: 20px 0;
}

/* Button */
.arrow {
    width: 110px;
    height: 80px;
    border-radius: 20px;
    background-color: #000000;
    text-align: center;
    align-content: center;
}

.arrow img {
    width: 54px;
    height: 49px;
}
