/* Font size and weight classes */
.font-50-600 {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-50);
    font-weight: var(--font-weight-600);
}

.font-32-600 {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-600);
}