@page "/"

<div class="Menu-Container row d-flex">
    <div class="col-2">
        <div class="text-fafafa font-50-600">Table #</div>
    </div>

    <div class="col-10 d-flex">
        <div class="text-000000 TopMenu-card align-content-center text-center" style="background-color:#ACB8B4;">
            <div class="font-32-600">SPLIT BY</div>
            <div class="font-32-600">ITEM</div>
        </div>

        <div class="text-000000 bg-FFFFFF TopMenu-card justify-content-center text-center d-flex flex-column">
            <div class="font-32-600">SPLIT BY</div>
            <div class="font-32-600">EVENLY</div>
        </div>

        <div class="text-000000 bg-FFFFFF TopMenu-card justify-content-center text-center d-flex flex-column">
            <div class="font-32-600">SPLIT BY</div>
            <div class="font-32-600">SEAT</div>
        </div>

        <div class="d-flex bg-FFFFFF TopMenu-card text-center justify-content-center">
            <div class="text-000000 align-content-center font-32-600">EDIT</div>
            <div class="align-content-center">
                <img src="/assets/fileEdit.svg" alt="file edit icon" class="icon-TopBar">
            </div>
        </div>

        <div class="d-flex bg-FFFFFF TopMenu-card justify-content-center">
            <div class="text-000000 align-content-center font-32-600">PRINT</div>
            <div class="align-content-center">
                <img src="/assets/file.svg" alt="file icon" class="icon-TopBar">
            </div>
        </div>

        <div class="d-flex bg-FFFFFF TopMenu-card justify-content-center">
            <div class="text-000000 align-content-center">
                <div class="d-flex flex-column justify-content-center">
                    <div class="font-32-600">PRINT</div>
                    <div class="font-32-600">ALL</div>
                </div>
            </div>
            <div class="align-content-center">
                <img src="/assets/multippleFile.svg" alt="Multi file icon" class="icon-TopBar">
            </div>
        </div>

        <div class="TopMenu-card align-content-center text-center bg-000000">
            <img src="/assets/home.svg" alt="home icon" class="home-topBar">
        </div>
    </div>
</div>
