@page "/"

@* Top Bar *@
<div class="Menu-Container row d-flex">
    <div class="col-2">
        <div class="text-fafafa font-50-600">Table #</div>
    </div>

    <div class="col-10 d-flex justify-content-end">
        <div class="text-000000 TopMenu-card align-content-center text-center" style="background-color:#ACB8B4;">
            <div class="font-32-600">SPLIT BY</div>
            <div class="font-32-600">ITEM</div>
        </div>

        <div class="text-000000 bg-FFFFFF TopMenu-card justify-content-center text-center d-flex flex-column">
            <div class="font-32-600">SPLIT BY</div>
            <div class="font-32-600">EVENLY</div>
        </div>

        <div class="text-000000 bg-FFFFFF TopMenu-card justify-content-center text-center d-flex flex-column">
            <div class="font-32-600">SPLIT BY</div>
            <div class="font-32-600">SEAT</div>
        </div>

        <div class="d-flex bg-FFFFFF TopMenu-card text-center justify-content-center">
            <div class="text-000000 align-content-center font-32-600">EDIT</div>
            <div class="align-content-center">
                <img src="/assets/fileEdit.svg" alt="file edit icon" class="icon-TopBar">
            </div>
        </div>

        <div class="d-flex bg-FFFFFF TopMenu-card justify-content-center">
            <div class="text-000000 align-content-center font-32-600">PRINT</div>
            <div class="align-content-center">
                <img src="/assets/file.svg" alt="file icon" class="icon-TopBar">
            </div>
        </div>

        <div class="d-flex bg-FFFFFF TopMenu-card justify-content-center">
            <div class="text-000000 align-content-center">
                <div class="d-flex flex-column justify-content-center text-center">
                    <div class="font-32-600">PRINT</div>
                    <div class="font-32-600">ALL</div>
                </div>
            </div>
            <div class="align-content-center">
                <img src="/assets/multippleFile.svg" alt="Multi file icon" class="icon-TopBar">
            </div>
        </div>

        <div class="TopMenu-card align-content-center text-center bg-000000">
            <img src="/assets/home.svg" alt="home icon" class="home-topBar">
        </div>
    </div>
</div>

@* Body *@
<div class="d-flex scroll-X">
    @* Screen 1 *@
    <div class="mobile-view">
        <!-- Top -->
        <div class="header p-3">
            <div class="text-center font-40-400">Check #: 1/4</div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="font-16-400">Server: Mary</div>
                    <div class="font-16-400">Cashier: TECH</div>
                    <div class="font-20-400">Ticket #: 52375</div>
                </div>

                <div>
                    <div class="font-32-400">Table p7</div>
                    <div class="font-16-400">4/26/2024 6:27 PM</div>
                    <div class="font-20-400">Palapa Wall</div>
                </div>
            </div>

            <!-- hr tag -->
            <hr class="dotted">
        </div>

        <!-- Body -->
        <div class="body-content">
            <!-- Content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>

            <!-- Content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>

            <!-- content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>

            <!-- Content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>
        </div>

        <!-- Bottom -->
        <div class="footer d-flex p-3 justify-content-between">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div>
                    <div class="font-20-400">SUBTOTAL</div>
                    <div class="font-20-400">SALES</div>
                    <div class="font-20-400">SVC Fee</div>
                    <div class="font-24-700">TOTAL</div>
                    <div class="font-20-400">Cash Discount</div>
                </div>
                <div class="mx-2">
                    <div class="font-20-400">$46.19</div>
                    <div class="font-20-400">$3.81</div>
                    <div class="font-20-400">$2.00</div>
                    <div class="font-24-700">$52.00</div>
                    <div class="font-20-400">-$2.00</div>
                    <div class="font-20-400">$50.00</div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="arrow my-2">
                    <img src="/assets/arrowUP.svg" alt="home icon" class="home-topBar">
                </div>
                <div class="arrow">
                    <img src="/assets/arrowdown.svg" alt="home icon" class="home-topBar">
                </div>
            </div>
        </div>
    </div>

    @* Screen 2 *@
    <div class="mobile-view">
        <!-- Top -->
        <div class="header p-3">
            <div class="text-center font-40-400">Check #: 1/4</div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="font-16-400">Server: Mary</div>
                    <div class="font-16-400">Cashier: TECH</div>
                    <div class="font-20-400">Ticket #: 52375</div>
                </div>

                <div>
                    <div class="font-32-400">Table p7</div>
                    <div class="font-16-400">4/26/2024 6:27 PM</div>
                    <div class="font-20-400">Palapa Wall</div>
                </div>
            </div>

            <!-- hr tag -->
            <hr class="dotted">
        </div>

        <!-- Body -->
        <div class="body-content">
            <!-- Content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>
        </div>

        <!-- Bottom -->
        <div class="footer d-flex p-3 justify-content-between">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div>
                    <div class="font-20-400">SUBTOTAL</div>
                    <div class="font-20-400">SALES</div>
                    <div class="font-20-400">SVC Fee</div>
                    <div class="font-24-700">TOTAL</div>
                    <div class="font-20-400">Cash Discount</div>
                </div>
                <div class="mx-2">
                    <div class="font-20-400">$46.19</div>
                    <div class="font-20-400">$3.81</div>
                    <div class="font-20-400">$2.00</div>
                    <div class="font-24-700">$52.00</div>
                    <div class="font-20-400">-$2.00</div>
                    <div class="font-20-400">$50.00</div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="arrow my-2">
                    <img src="/assets/arrowUP.svg" alt="home icon" class="home-topBar">
                </div>
                <div class="arrow">
                    <img src="/assets/arrowdown.svg" alt="home icon" class="home-topBar">
                </div>
            </div>
        </div>
    </div>

    @* Screen 3 *@
    <div class="mobile-view">
        <!-- Top -->
        <div class="header p-3">
            <div class="text-center font-40-400">Check #: 1/4</div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="font-16-400">Server: Mary</div>
                    <div class="font-16-400">Cashier: TECH</div>
                    <div class="font-20-400">Ticket #: 52375</div>
                </div>

                <div>
                    <div class="font-32-400">Table p7</div>
                    <div class="font-16-400">4/26/2024 6:27 PM</div>
                    <div class="font-20-400">Palapa Wall</div>
                </div>
            </div>

            <!-- hr tag -->
            <hr class="dotted">
        </div>

        <!-- Body -->
        <div class="body-content">
            <!-- Content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>
        </div>

        <!-- Bottom -->
        <div class="footer d-flex p-3 justify-content-between">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div>
                    <div class="font-20-400">SUBTOTAL</div>
                    <div class="font-20-400">SALES TAX</div>
                    <div class="font-20-400">SVC Fee</div>
                    <div class="font-24-700">TOTAL</div>
                    <div class="font-20-400">Cash</div>
                </div>
                <div class="mx-2">
                    <div class="font-20-400">$46.19</div>
                    <div class="font-20-400">$3.81</div>
                    <div class="font-20-400">$2.00</div>
                    <div class="font-24-700">$52.00</div>
                    <div class="font-20-400">-$2.00</div>
                    <div class="font-20-400">$50.00</div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="arrow my-2">
                    <img src="/assets/arrowUP.svg" alt="home icon" class="home-topBar">
                </div>
                <div class="arrow">
                    <img src="/assets/arrowdown.svg" alt="home icon" class="home-topBar">
                </div>
            </div>
        </div>
    </div>

    @* Screen 4 *@
    <div class="mobile-view">
        <!-- Top -->
        <div class="header p-3">
            <div class="text-center font-40-400">Check #: 1/4</div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="font-16-400">Server: Mary</div>
                    <div class="font-16-400">Cashier: TECH</div>
                    <div class="font-20-400">Ticket #: 52375</div>
                </div>

                <div>
                    <div class="font-32-400">Table p7</div>
                    <div class="font-16-400">4/26/2024 6:27 PM</div>
                    <div class="font-20-400">Palapa Wall</div>
                </div>
            </div>

            <!-- hr tag -->
            <hr class="dotted">
        </div>

        <!-- Body -->
        <div class="body-content">
            <!-- Content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>
        </div>

        <!-- Bottom -->
        <div class="footer d-flex p-3 justify-content-between">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div>
                    <div class="font-20-400">SUBTOTAL</div>
                    <div class="font-20-400">SALES TAX</div>
                    <div class="font-20-400">SVC Fee</div>
                    <div class="font-24-700">TOTAL</div>
                    <div class="font-20-400">Cash</div>
                </div>
                <div class="mx-2">
                    <div class="font-20-400">$46.19</div>
                    <div class="font-20-400">$3.81</div>
                    <div class="font-20-400">$2.00</div>
                    <div class="font-24-700">$52.00</div>
                    <div class="font-20-400">-$2.00</div>
                    <div class="font-20-400">$50.00</div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="arrow my-2">
                    <img src="/assets/arrowUP.svg" alt="home icon" class="home-topBar">
                </div>
                <div class="arrow">
                    <img src="/assets/arrowdown.svg" alt="home icon" class="home-topBar">
                </div>
            </div>
        </div>
    </div>

    @* Screen 5 *@
    <div class="mobile-view">
        <!-- Top -->
        <div class="header p-3">
            <div class="text-center font-40-400">Check #: 1/4</div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="font-16-400">Server: Mary</div>
                    <div class="font-16-400">Cashier: TECH</div>
                    <div class="font-20-400">Ticket #: 52375</div>
                </div>

                <div>
                    <div class="font-32-400">Table p7</div>
                    <div class="font-16-400">4/26/2024 6:27 PM</div>
                    <div class="font-20-400">Palapa Wall</div>
                </div>
            </div>

            <!-- hr tag -->
            <hr class="dotted">
        </div>

        <!-- Body -->
        <div class="body-content">
            <!-- Content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>
        </div>

        <!-- Bottom -->
        <div class="footer d-flex p-3 justify-content-between">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div>
                    <div class="font-20-400">SUBTOTAL</div>
                    <div class="font-20-400">SALES TAX</div>
                    <div class="font-20-400">SVC Fee</div>
                    <div class="font-24-700">TOTAL</div>
                    <div class="font-20-400">Cash</div>
                </div>
                <div class="mx-2">
                    <div class="font-20-400">$46.19</div>
                    <div class="font-20-400">$3.81</div>
                    <div class="font-20-400">$2.00</div>
                    <div class="font-24-700">$52.00</div>
                    <div class="font-20-400">-$2.00</div>
                    <div class="font-20-400">$50.00</div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="arrow my-2">
                    <img src="/assets/arrowUP.svg" alt="home icon" class="home-topBar">
                </div>
                <div class="arrow">
                    <img src="/assets/arrowdown.svg" alt="home icon" class="home-topBar">
                </div>
            </div>
        </div>
    </div>

    @* Screen 6 *@
    <div class="mobile-view">
        <!-- Top -->
        <div class="header p-3">
            <div class="text-center font-40-400">Check #: 1/4</div>

            <div class="d-flex justify-content-between">
                <div>
                    <div class="font-16-400">Server: Mary</div>
                    <div class="font-16-400">Cashier: TECH</div>
                    <div class="font-20-400">Ticket #: 52375</div>
                </div>

                <div>
                    <div class="font-32-400">Table p7</div>
                    <div class="font-16-400">4/26/2024 6:27 PM</div>
                    <div class="font-20-400">Palapa Wall</div>
                </div>
            </div>

            <!-- hr tag -->
            <hr class="dotted">
        </div>

        <!-- Body -->
        <div class="body-content">
            <!-- Content -->
            <div class="flex-grow-1 px-3">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div>
                        <div class="font-20-400">2  RITA JUM HH</div>
                        <div class="font-20-400">1  CCQ BLANCO lg</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  TEA</div>
                        <div class="font-20-400">1  RITA SPC sm</div>
                    </div>
                    <div class="mx-2">
                        <div class="font-20-400">$19.00</div>
                        <div class="font-20-400">$10.99</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$3.10</div>
                        <div class="font-20-400">$10.00</div>
                    </div>
                </div>
                <div class="float-end px-2">
                    <div class="font-20-400">Item Count 7</div>
                </div>
            </div>
        </div>

        <!-- Bottom -->
        <div class="footer d-flex p-3 justify-content-between">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div>
                    <div class="font-20-400">SUBTOTAL</div>
                    <div class="font-20-400">SALES TAX</div>
                    <div class="font-20-400">SVC Fee</div>
                    <div class="font-24-700">TOTAL</div>
                    <div class="font-20-400">Cash</div>
                </div>
                <div class="mx-2">
                    <div class="font-20-400">$46.19</div>
                    <div class="font-20-400">$3.81</div>
                    <div class="font-20-400">$2.00</div>
                    <div class="font-24-700">$52.00</div>
                    <div class="font-20-400">-$2.00</div>
                    <div class="font-20-400">$50.00</div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="arrow my-2">
                    <img src="/assets/arrowUP.svg" alt="home icon" class="home-topBar">
                </div>
                <div class="arrow">
                    <img src="/assets/arrowdown.svg" alt="home icon" class="home-topBar">
                </div>
            </div>
        </div>
    </div>

    @* Screen 7 *@
    <div class="mobile-view">
        <!-- Top -->
        <div class="header p-3">
            
        </div>

        <!-- Body -->
        <div class="body-content">
            <!-- Content -->
            <div class="flex-grow-1 px-3">
                
            </div>
        </div>

        <!-- Bottom -->
        <div class="footer d-flex p-3 justify-content-between">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div>
                    <div class="font-20-400">SUBTOTAL</div>
                    <div class="font-20-400">SALES TAX</div>
                    <div class="font-20-400">SVC Fee</div>
                    <div class="font-24-700">TOTAL</div>
                    <div class="font-20-400">Cash</div>
                </div>
                <div class="mx-2">
                    <div class="font-20-400">$46.19</div>
                    <div class="font-20-400">$3.81</div>
                    <div class="font-20-400">$2.00</div>
                    <div class="font-24-700">$52.00</div>
                    <div class="font-20-400">-$2.00</div>
                    <div class="font-20-400">$50.00</div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="arrow my-2">
                    <img src="/assets/arrowUP.svg" alt="home icon" class="home-topBar">
                </div>
                <div class="arrow">
                    <img src="/assets/arrowdown.svg" alt="home icon" class="home-topBar">
                </div>
            </div>
        </div>
    </div>    
</div>    

